<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/top-navbar', { pageTitle: 'User Home', currentPage: 'userhome' }) %>
    <div class="container">
        <% if (user) { %>
            <h1>Welcome, <%= user.name %>!</h1>
            <h2>Habits</h2>
            <form action="/add-habit" method="post">
                <label for="habit">New Habit</label>
                <input type="text" name="habit" required>
                <button type="submit">Add Habit</button>
            </form>
            <div class="badge-container">
                <% user.habits.forEach((habit) => { %>
                    <div class="badge" onclick="location.href='userhome/edit-habit/<%= habit.id %>'">
                        <%= habit.name %>
                        <a href="userhome/edit-habit/<%= habit.id %>" class="edit-link">
                        </a>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <h1>Welcome, please log in or register.</h1>
            <a href="/login">Login</a> | <a href="/register">Register</a>
        <% } %>
    </div>
    <%- include('../partials/navbar') %>
</body>
</html>
