<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascript.js"></script>
</head>
<body>
    <button id="add-habit-btn" onclick="location.href='/add-habit'">Add a Habit</button>
    <%- include('../partials/top-navbar', { pageTitle: 'My Habits', currentPage: 'userhome' }) %>
    <%- include('../partials/navbar', { currentPage: 'userhome' }) %>
    <div class="container">
        <% if (user) { %>
            <div class="header-container">
                <h1>Welcome, <%= user.name %>!</h1>
                <button class="points-display" onclick="location.href='/achievements/index'">
                    Level <%= user.level %> <%= user.points %>/<%= levelingThresholds[user.level - 1] || '' %>
                </button>
                </a>
            </div>
            
            <% function isTodayCheckInDay(habit) {
                if (!habit.logDays) {
                    return false;
                }
                const today = new Date();
                const todayDay = today.getDay();
                const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                return habit.logDays.includes(daysOfWeek[todayDay]);
            } %>

            <% function getNextCheckInDay(habit) {
                if (!habit.logDays) {
                    return "";
                }
                const today = new Date();
                const todayDay = today.getDay();
                const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                const nextDayIndex = habit.logDays.findIndex(day => daysOfWeek.indexOf(day) > todayDay);
                if (nextDayIndex !== -1) {
                    return habit.logDays[nextDayIndex];
                }
                return habit.logDays[0];
            } %>

            <% function missedLastCheckIn(habit) {
                if (!habit.logDays || !habit.lastCheckIn) {
                    return false;
                }
                const today = new Date();
                const lastCheckInDate = new Date(habit.lastCheckIn);
                const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                
                let nextCheckInDate = new Date(lastCheckInDate);
                do {
                    nextCheckInDate.setDate(nextCheckInDate.getDate() + 1);
                    if (habit.logDays.includes(daysOfWeek[nextCheckInDate.getDay()])) {
                        break;
                    }
                } while (true);
                
                const nextCheckInDay = daysOfWeek[nextCheckInDate.getDay()];
                const todayDay = daysOfWeek[today.getDay()];
                
                return nextCheckInDay !== todayDay && nextCheckInDate < today;
            } %>
            
              
            <div class="habit-container">
                <% user.habits.forEach((habit) => { %>
                    <div class="habit" onclick="location.href='userhome/edit-habit/<%= habit.id %>'">
                        <%= habit.name %>
                        <% if (isTodayCheckInDay(habit)) { %>
                            <% if (habit.checkedInToday) { %>
                              <span class="checked-in">Checked-In ✓</span>
                            <% } else { %>
                              <% if (missedLastCheckIn(habit)) { %>
                                <span class="missed-check-in">Missed Last Check-In</span>
                              <% } %>
                              <button class="check-in-btn" onclick="event.stopPropagation(); location.href='/userhome/check-in/<%= habit.id %>'">Check-In</button>
                            <% } %>
                          <% } else { %>
                            <span class="next-check-in">Next Check-In: <%= getNextCheckInDay(habit) %></span>
                          <% } %>                          
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <h1>Welcome, please log in or register.</h1>
            <a href="/login">Login</a> | <a href="/register">Register</a>
        <% } %>
    </div>
</body>
</html>
