<!DOCTYPE html>
<html>
<head>
    <title>Achievement Page</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('../partials/top-navbar', { pageTitle: 'Your Tree', currentPage: 'achievements' }) %>
    <div class="tree-container">

        <% if (user) { %>
            <% const treeName = trees[user.level][0]; %>
            <% const treeDesc = trees[user.level][1]; %>
            <h1>Your Tree Level: <%= user.level %> - <%= treeName %> </h1>
            <img class="usertree" src="/images/<%= user.level %>.png" alt="Logo">
            <h3>
                Progress until next tree level: <%= user.points %>/<%= levelingThresholds[user.level - 1] || '' %>
            </h3>
            <h4 class="treeDesc"><%= treeDesc %></h4>
        <% } else { %>
            <h1>Welcome, please log in or register.</h1>
            <a href="/login">Login</a> | <a href="/register">Register</a>
        <% } %>
    </div>
    <%- include('../partials/navbar') %>
</body>
</html>